<!--Main navbar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
   <a class="navbar-brand" style="color:white;">Employee Manager</a>
   <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01"
      aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
   </button>
   <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav mr-auto">
         <li class="nav-item active">
            <a class="nav-link" (click)="showEmployees()">Employees <span
                  class="sr-only">(current)</span></a>
         </li>
         <li class="nav-item active">
            <a class="nav-link" (click)="showDepartments()">Departments <span
                  class="sr-only">(current)</span></a>
         </li>
      </ul>
   </div>
</nav>
<!-- -->

<!--Employee container  -->
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container" id="employee-container">
   <nav class="navbar navbar-expand-lg navbar-dark bg-dark" id="employee-nav">
      <a class="navbar-brand" style="color:white;">Employee Manager</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02"
         aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
         <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarColor02">
         <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
               <a class="nav-link" (click)="onOpenModal(null,'add')">Add Employee <span
                     class="sr-only">(current)</span></a>
            </li>
         </ul>
         <form class="form-inline my-2 my-lg-0">
            <input type="search" (ngModelChange)="searchEmployee(keyEmployee.value)" #keyEmployee="ngModel" ngModel name="keyEmployee"
               id="searchName" class="form-control mr-sm-2" placeholder="Search employees..." required>
         </form>
      </div>
   </nav>
   <div class="row">
      <div *ngFor="let employee of employees" class="col-md-6 col-xl-3">
         <div class="card m-b-30">
            <div class="card-body row">
               <div class="col-6">
                  <a href=""><img src="{{employee.profileImage?.url}}" alt="" class="img-fluid rounded-circle w-60"></a>
               </div>
               <div class="col-6 card-title align-self-center mb-0">
                  <h5>{{employee?.firstName}}</h5>
                  <h4>{{employee?.lastName}}</h4>
                  <p class="m-0">{{employee?.department?.departmentName}}</p>
               </div>
            </div>
            <ul class="list-group list-group-flush">
               <li class="list-group-item"><i class="fa fa-envelope float-right"></i>Email : <br><a
                     href="#">{{employee?.email}}</a></li>
               <li class="list-group-item"><i class="fa fa-phone float-right"></i>Phone : {{employee?.phone}}</li>
            </ul>
            <div class="card-body">
               <div class="float-right btn-group btn-group-sm">
                  <a (click)="onOpenModal(employee,'detail')" href="#" class="btn btn-success tooltips"
               data-placement="top" data-toggle="tooltip" data-original-title="Delete"><i
               class="fa fa-info" aria-hidden="true"></i></a>
                  <a (click)="onOpenModal(employee,'edit')" href="#" class="btn btn-primary tooltips"
                     data-placement="top" data-toggle="tooltip" data-original-title="Edit"><i class="fa fa-pencil"></i>
                  </a>
                  <a (click)="onOpenModal(employee,'delete')" href="#" class="btn btn-danger tooltips"
                     data-placement="top" data-toggle="tooltip" data-original-title="Delete"><i
                        class="fa fa-times"></i></a>
               </div>
               <ul class="social-links list-inline mb-0">
                  <li class="list-inline-item"><a title="" data-placement="top" data-toggle="tooltip" class="tooltips"
                        href="" data-original-title="Facebook"><i class="fa fa-facebook-f"></i></a></li>
                  <li class="list-inline-item"><a title="" data-placement="top" data-toggle="tooltip" class="tooltips"
                        href="" data-original-title="Twitter"><i class="fa fa-twitter"></i></a></li>
                  <li class="list-inline-item"><a title="" data-placement="top" data-toggle="tooltip" class="tooltips"
                        href="" data-original-title="Skype"><i class="fa fa-skype"></i></a></li>
               </ul>
            </div>
         </div>
      </div>
   </div>
</div>
<!-- -->

<!--Add Employee Modal -->
<div class="modal fade" id="addEmployeeModal" tabindex="-1" role="dialog" aria-labelledby="addEmployeeModalLabel"
   aria-hidden="true">
   <div class="modal-dialog" role="document">
      <div class="modal-content">
         <div class="modal-header">
            <h5 class="modal-title" id="addEmployeeModalLabel">Add Employee</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
               <span aria-hidden="true">&times;</span>
            </button>
         </div>
         <div class="modal-body">
            <form #addForm="ngForm" (ngSubmit)="onAddEmployee(addForm)">
               <div class="form-group">
                  <label for="firstName">First Name:</label>
                  <input type="text" ngModel name="firstName" class="form-control" id="firstName"
                     placeholder="First Name" required>
               </div>
               <div class="form-group">
                  <label for="lastName">Last Name</label>
                  <input type="text" ngModel name="lastName" class="form-control" id="lastName" placeholder="Last Name"
                     required>
               </div>
               <div class="form-group">
                  <label for="department">Department</label>
                  <select class="form-control" id="department" name="department" ngModel required>
                    <option  *ngFor="let department of departments" [ngValue]="department">{{department.departmentName}}</option>
                  </select>
               </div>
               <div class="form-group">
                  <label for="age">Age</label>
                  <input type="text" ngModel name="age" class="form-control" id="age" placeholder="Age" required>
               </div>
               <div class="form-group">
                  <label for="salary">Salary</label>
                  <input type="text" ngModel name="salary" class="form-control" id="salary" placeholder="Salary"
                     required>
               </div>
               <div class="form-group">
                  <label for="phone">Phone</label>
                  <input type="text" ngModel name="phone" class="form-control" id="phone" placeholder="Phone" required>
               </div>
               <div class="form-group">
                  <label for="email">Email</label>
                  <input type="text" ngModel name="email" class="form-control" id="email" placeholder="E-mail" required>
               </div>
               <div class="modal-footer">
                  <button type="button" id="add-employee-form" class="btn btn-secondary"
                     data-dismiss="modal">Close</button>
                  <button [disabled]="addForm.invalid" type="submit" class="btn btn-primary">Save changes</button>
               </div>
            </form>
         </div>
      </div>
   </div>
</div>
<!-- -->

<!--Update Employee Modal -->
<div class="modal fade" id="updateEmployeeModal" tabindex="-1" role="dialog" aria-labelledby="employeeEditModalLabel"
   aria-hidden="true">
   <div class="modal-dialog" role="document">
      <div class="modal-content">
         <div class="modal-header">
            <h5 class="modal-title" id="updateEmployeeModalLabel">Edit Employee {{editEmployee?.firstName}}
               {{editEmployee?.lastName}}</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
               <span aria-hidden="true">&times;</span>
            </button>
         </div>
         <div class="modal-body">
            <form #editForm="ngForm">
               <div class="form-group">
                  <label for="firstName">First Name</label>
                  <input type="text" ngModel="{{editEmployee?.firstName}}" name="firstName" class="form-control"
                     id="firstName" aria-describedby="emailHelp" placeholder="firstName">
               </div>
               <div class="form-group">
                  <label for="lastName">Last Name</label>
                  <input type="text" ngModel="{{editEmployee?.lastName}}" name="lastName" class="form-control"
                     id="lastName" placeholder="lastName">
               </div>
               <input type="hidden" ngModel="{{editEmployee?.id}}" name="id" class="form-control" id="id">
               <div class="form-group">
                  <label for="department">Department</label>
                  <select class="form-control" id="department" name="department" ngModel={{editEmployee?.department}} required>
                    <option  *ngFor="let department of departments" [ngValue]="department">{{department.departmentName}}</option>
                  </select>
               </div>
               <div class="form-group">
                  <label for="age">Age</label>
                  <input type="text" ngModel="{{editEmployee?.age}}" name="age" class="form-control" id="age"
                     placeholder="age">
               </div>
               <input type="hidden" ngModel="{{editEmployee?.id}}" name="id" class="form-control" id="id"
                  placeholder="id">
               <div class="form-group">
                  <label for="salary">Salary</label>
                  <input type="text" ngModel="{{editEmployee?.salary}}" name="salary" class="form-control" id="salary"
                     placeholder="Salary">
               </div>
               <div class="form-group">
                  <label for="phone">Phone</label>
                  <input type="text" ngModel="{{editEmployee?.phone}}" name="phone" class="form-control" id="phone"
                     placeholder="Phone">
               </div>
               <div class="form-group">
                  <label for="email">Email</label>
                  <input type="email" ngModel="{{editEmployee?.email}}" name="email" class="form-control" id="email"
                     placeholder="Email">
               </div>
               <div class="modal-footer">
                  <button type="button" id="" data-dismiss="modal" class="btn btn-secondary">Close</button>
                  <button (click)="onUpdateEmployee(editForm.value)" data-dismiss="modal" class="btn btn-primary">Save
                     changes</button>
               </div>
            </form>
         </div>
      </div>
   </div>
</div>
<!-- -->

<!--Delete Employee Modal -->
<div class="modal fade" id="deleteEmployeeModal" tabindex="-1" role="dialog" aria-labelledby="deleteModelLabel"
   aria-hidden="true">
   <div class="modal-dialog" role="document">
      <div class="modal-content">
         <div class="modal-header">
            <h5 class="modal-title" id="deleteModelLabel">Delete Employee</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
               <span aria-hidden="true">&times;</span>
            </button>
         </div>
         <div class="modal-body">
            <p>Are you sure you want to delete employee {{deleteEmployee?.firstName}} {{deleteEmployee?.lastName}}?</p>
            <div class="modal-footer">
               <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
               <button (click)="onDeleteEmployee(deleteEmployee?.id)" class="btn btn-danger"
                  data-dismiss="modal">Yes</button>
            </div>
         </div>
      </div>
   </div>
</div>
<!-- -->

<!--Detail Employee Modal -->
<div class="modal fade" id="detailEmployeeModal" tabindex="-1" role="dialog" aria-labelledby="detailModelLabel"
   aria-hidden="true">
   <div class="modal-dialog" role="document">
      <div class="modal-content" style="background-color: #f5f5f5;">
         <div class="modal-header">
            <h5 class="modal-title" id="detailModelLabel">Employee Details</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
               <span aria-hidden="true">&times;</span>
            </button>
         </div>
         <div class="modal-body">
            <div style="background-color: #f5f5f5; margin-top: 20px;">
               <div class="card m-b-30">
                  <div class="card-body row">
                     <div class="col-6">
                        <a href=""><img src="{{detailEmployee?.profileImage?.url}}" alt="" class="img-fluid rounded-circle w-60"></a>
                     </div>
                     <div class="col-6 card-title align-self-center mb-0">
                        <h5>{{detailEmployee?.firstName}}</h5>
                        <h4>{{detailEmployee?.lastName}}</h4>
                        <p class="m-0">{{detailEmployee?.department?.departmentName}}</p>
                     </div>
                  </div>
                  <ul class="list-group list-group-flush">
                     <li class="list-group-item"><i class="fa fa-birthday-cake float-right"></i>Age :<br><a
                        href="#">{{detailEmployee?.age}}</a></li>
                     <li class="list-group-item"><i class="fa fa-envelope float-right"></i>Email :<br><a
                           href="#">{{detailEmployee?.email}}</a></li>
                     <li class="list-group-item"><i class="fa fa-phone float-right"></i>Phone :<br><a
                        href="#">{{detailEmployee?.phone}}</a></li>
                     <li class="list-group-item"><i class="fa fa-money float-right"></i>Salary :<br><a
                        href="#">{{detailEmployee?.salary}}</a></li>
                  </ul>
                  <div class="card-body">
                     <ul class="social-links list-inline mb-0">
                        <li class="list-inline-item"><a title="" data-placement="top" data-toggle="tooltip" class="tooltips"
                              href="" data-original-title="Facebook"><i class="fa fa-facebook-f"></i></a></li>
                        <li class="list-inline-item"><a title="" data-placement="top" data-toggle="tooltip" class="tooltips"
                              href="" data-original-title="Twitter"><i class="fa fa-twitter"></i></a></li>
                        <li class="list-inline-item"><a title="" data-placement="top" data-toggle="tooltip" class="tooltips"
                              href="" data-original-title="Skype"><i class="fa fa-skype"></i></a></li>
                     </ul>
                  </div>
               </div>
            </div>
            <div class="modal-footer">
               <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
         </div>
      </div>
   </div>
</div>
<!-- -->

<!--Department Container -->
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container" id="department-container" style="display: none;">
   <nav class="navbar navbar-expand-lg navbar-dark bg-dark" id="department-nav">
      <a class="navbar-brand" style="color:white;">Department Manager</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03"
         aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
         <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarColor03">
         <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
               <a class="nav-link" (click)="onOpenDepartmentModal(null,'add')">Add department <span
                     class="sr-only">(current)</span></a>
            </li>
         </ul>
         <form class="form-inline my-2 my-lg-0">
            <input type="search" (ngModelChange)="searchDepartment(keyDepartment.value)" #keyDepartment="ngModel" ngModel name="keyDepartment"
               id="searchName" class="form-control mr-sm-2" placeholder="Search departments..." required>
         </form>
      </div>
   </nav>
    <div class="row">
        <div *ngFor="let department of departments" class="col-md-6 col-xl-3">
            <div class="card m-b-30">
                <div class="card-body row">
                    
                    <div class="col-6 card-title align-self-center mb-0">
                        <h5>{{department.departmentName}}</h5>
                        <p class="m-0">Graphics Designer</p>
                    </div>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><i class="fa fa-money float-right"></i>Max-Min Salary: <div><a>${{department?.minSalary}}-${{department?.maxSalary}}</a></div></li>
                    <li class="list-group-item"><i class="fa fa-user float-right"></i>number of employees</li>
                </ul>
                <div class="card-body">
                    <div class="float-center btn-group btn-group-sm">
                        <a (click)="onOpenDepartmentModal(department,'edit')" href="#" class="btn btn-primary tooltips" data-placement="top" data-toggle="tooltip" data-original-title="Edit"><i class="fa fa-pencil"></i> </a>
                        <a (click)="onOpenDepartmentModal(department,'delete')" href="#" class="btn btn-secondary tooltips" data-placement="top" data-toggle="tooltip" data-original-title="Delete"><i class="fa fa-times"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- -->

<!--Add Department Modal -->
<div class="modal fade" id="addDepartmentModal" tabindex="-1" role="dialog" aria-labelledby="addDepartmentModalLabel"
   aria-hidden="true">
   <div class="modal-dialog" role="document">
      <div class="modal-content">
         <div class="modal-header">
            <h5 class="modal-title" id="addDepartmentModalLabel">Add Department</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
               <span aria-hidden="true">&times;</span>
            </button>
         </div>
         <div class="modal-body">
            <form #addDepartmentForm="ngForm" (ngSubmit)="onAddDepartment(addDepartmentForm)">
               <div class="form-group">
                  <label for="departmentName">Department Name:</label>
                  <input type="text" ngModel name="departmentName" class="form-control" id="departmentName"
                     placeholder="Department Name" required>
               </div>
               <div class="form-group">
                  <label for="maxSalary">Max Salary:</label>
                  <input type="text" ngModel name="maxSalary" class="form-control" id="maxSalary" placeholder="Max Salary"
                     required>
               </div>

               <div class="form-group">
                  <label for="minSalary">Min Salary:</label>
                  <input type="text" ngModel name="minSalary" class="form-control" id="minSalary" placeholder="Min Salary"
                     required>
               </div>
               <div class="modal-footer">
                  <button type="button" id="add-department-form" class="btn btn-secondary"
                     data-dismiss="modal">Close</button>
                  <button [disabled]="addDepartmentForm.invalid" type="submit" class="btn btn-primary">Save changes</button>
               </div>
            </form>
         </div>
      </div>
   </div>
</div>
<!-- -->

<!--Update Department Modal -->
<div class="modal fade" id="updateDepartmentModal" tabindex="-1" role="dialog" aria-labelledby="departmentEditModalLabel"
   aria-hidden="true">
   <div class="modal-dialog" role="document">
      <div class="modal-content">
         <div class="modal-header">
            <h5 class="modal-title" id="updateDepartmentModalLabel">Edit Department {{editDepartment?.departmentName}}</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
               <span aria-hidden="true">&times;</span>
            </button>
         </div>
         <div class="modal-body">
            <form #editDepartmentForm="ngForm">
               <div class="form-group">
                  <label for="departmentName">Department Name</label>
                  <input type="text" ngModel="{{editDepartment?.departmentName}}" name="departmentName" class="form-control"
                     id="departmentName" aria-describedby="emailHelp" placeholder="Department Name">
               </div>
               <input type="hidden" ngModel="{{editDepartment?.id}}" name="id" class="form-control" id="id" >
               <div class="form-group">
                  <label for="maxSalary">Max Salary</label>
                  <input type="text" ngModel="{{editDepartment?.maxSalary}}" name="maxSalary" class="form-control"
                     id="maxSalary" placeholder="Max Salary">
               </div>
               <div class="form-group">
                  <label for="minSalary">Min Salary</label>
                  <input type="text" ngModel="{{editDepartment?.minSalary}}" name="minSalary" class="form-control" id="minSalary"
                     placeholder="Min Salary">
               </div>
               <div class="modal-footer">
                  <button type="button" id="" data-dismiss="modal" class="btn btn-secondary">Close</button>
                  <button (click)="onUpdateDepartment(editDepartmentForm.value)" data-dismiss="modal" class="btn btn-primary">Save
                     changes</button>
               </div>
            </form>
         </div>
      </div>
   </div>
</div>
<!-- -->

<!--Delete Employee Modal -->
<div class="modal fade" id="deleteDepartmentModal" tabindex="-1" role="dialog" aria-labelledby="deleteDepartmentModelLabel"
   aria-hidden="true">
   <div class="modal-dialog" role="document">
      <div class="modal-content">
         <div class="modal-header">
            <h5 class="modal-title" id="deleteDepartmentModelLabel">Delete Department</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
               <span aria-hidden="true">&times;</span>
            </button>
         </div>
         <div class="modal-body">
            <p>Are you sure you want to delete employee {{deleteDepartment?.departmentName}}?</p>
            <div class="modal-footer">
               <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
               <button (click)="onDeleteDepartment(deleteDepartment?.id)" class="btn btn-danger"
                  data-dismiss="modal">Yes</button>
            </div>
         </div>
      </div>
   </div>
</div>
<!-- -->

<!--Footer -->
<footer class="footer">
   <div class="container">
       <span>All Rights Reserved 2021 @OzeeeSoftware </span>
   </div>
</footer>
<!-- -->